html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1em 0;

  background-color: #8bc9d9;
  border-top: 3px solid #005e76;

  color: #005e76;
}

.social > li {
  width: 3em;
}

.copyright {
  width: 100%;
}
